{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <div class="dropdown" style="text-align:center">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">nuzzo.marcel@aliceadsl.fr</a>
                <a class="dropdown-item" href="#">06 18 51 27 46</a>
                <a class="dropdown-item" href="#">non mais allô quoi</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}