{% extends 'admin_base.html.twig' %}

{% block title %}AdminController{% endblock %}

{% block body %}

<div style="text-align: center">
    <h1> Admin</h1>
    <a href="{{ path('home') }}" class="btn btn-info">Retour au menu principale</a>
</div>

{% endblock %}
